{% extends "shop/base.html"%}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">

            <form id="form">
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email..">
                    </div>
                </div>

                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="State..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                    </div>
                </div>
                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
            </form>

            <br>
        </div>


        <div class="box-element hidden" id="payment-info">
            <small>Paypal Options</small>
        </div>

    </div>

    <div class="col-lg-6">

        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>

            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2;"><img class="row-image" src="{{item.product.image_url}}"></div>
                <div style="flex:2;"><p class="value-cell">{{item.product.name}}</p></div>
                <div style="flex:1;"><p class="value-cell">${{item.product.price|floatformat:2}}</p></div>
                <div style="flex:1"> <p class="value-cell">x{{item.quantity}}</p> </div>
            </div>
            {% endfor %}
            <h5>Items: <strong>{{order.get_cart_items}}</strong></h5>
            <h5>Total: <strong> ${{order.get_cart_total}}</strong></h5>
        </div>
    </div>
</div>
{% endblock content %}